<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <listener>
    <listener-class>com.erent.utils.TomcatListener</listener-class>
  </listener>
  <filter>
    <filter-name>CORS</filter-name>
    <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
    <init-param>
      <param-name>cors.allowOrigin</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.supportedMethods</param-name>
      <param-value>GET, POST, HEAD, PUT, DELETE</param-value>
    </init-param>
    <init-param>
      <param-name>cors.supportedHeaders</param-name>
      <param-value>Accept, Origin, X-Requested-With, Content-Type, Last-Modified</param-value>
    </init-param>
    <init-param>
      <param-name>cors.exposedHeaders</param-name>
      <param-value>Set-Cookie</param-value>
    </init-param>
    <init-param>
      <param-name>cors.supportsCredentials</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CORS</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.erent.customer.web.servlte.CustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>com.erent.customer.web.servlte.ModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommodityServlet</servlet-name>
    <servlet-class>com.erent.commodity.web.servlet.CommodityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.erent.category.web.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCommodityServlet</servlet-name>
    <servlet-class>com.erent.commodity.web.servlet.AddCommodityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrdersServlet</servlet-name>
    <servlet-class>com.erent.orders.web.servlet.OrdersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminCustomerServlet</servlet-name>
    <servlet-class>com.erent.customer.web.servlte.admin.AdminCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminCommodityServlet</servlet-name>
    <servlet-class>com.erent.commodity.web.servlet.admin.AdminCommodityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <servlet-class>com.erent.category.web.servlet.admin.AdminCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyCommodityServlet</servlet-name>
    <servlet-class>com.erent.commodity.web.servlet.admin.ModifyCommodityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminOrdersServlet</servlet-name>
    <servlet-class>com.erent.orders.web.servlet.admin.AdminOrdersServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdministratorServlet.java</servlet-name>
  	<servlet-class>com.erent.customer.web.servlte.admin.AdministratorServlet</servlet-class>
  </servlet>
  
  
  
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/ModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommodityServlet</servlet-name>
    <url-pattern>/CommodityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCommodityServlet</servlet-name>
    <url-pattern>/AddCommodityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrdersServlet</servlet-name>
    <url-pattern>/OrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminCustomerServlet</servlet-name>
    <url-pattern>/admin/AdminCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <url-pattern>/admin/AdminCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminCommodityServlet</servlet-name>
    <url-pattern>/admin/AdminCommodityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyCommodityServlet</servlet-name>
    <url-pattern>/admin/ModifyCommodityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminOrdersServlet</servlet-name>
    <url-pattern>/admin/AdminOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdministratorServlet.java</servlet-name>
  	<url-pattern>/admin/AdministratorServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>